.marksdiv {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}

.Pass {
  color: green;
}

.Fail{
  color: red;
}

.textbold{
  font-size: 1.25rem;
  font-weight: bold;
}