h3, h2 {
  margin: 2px;
  padding: 2px;
}

.marksdiv {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}

.green {
  color: green;
}

.red{
  color: red;
}

.textbold{
  font-size: 1.25rem;
  font-weight: bold;
}